*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------------------------------------------------*/

#cabecera-principal{
    height: 16vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 25, 38);
}

#menu{
    display: flex;
    justify-content: center;
    height: 15vh;
}

.opciones{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.opcion{
    display: flex;
    justify-content: center;
    list-style: none;
    color: rgb(250, 250, 250);
}

.opcion-enlace{
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 3vh;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-top: 10px solid rgba(255, 250, 250, 0);
}

.opcion-enlace:hover{
    border: 1px solid rgb(250, 250, 250);
    background-color: rgba(3, 25, 38, 0.7);
}

li{
    color: rgb(250, 250, 250);
}

#menu-oculto{
    display: none;
}

/*-----------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------*/

.titulo{
    color: rgb(250, 250, 250);
    background-color: rgb(3, 25, 38);
    width: 45%;
    font-size: 50px;
    text-align: center;
    margin: 5vh 0 5vh 0;
    border: 1px solid rgb(250, 250, 250);
}

.titulo--left{
    margin-left: 5%;
}

.titulo--right{
    margin-left: 50%;
}

.sub-titulo{
    color: rgb(3, 25, 38);
    text-decoration: underline ;
    font-size: 40px;
    text-align: center;
    padding: 1rem;
}

/*-----------------------------------------------------------------------------------------------------*/

#contenido-principal{
    background: linear-gradient(90deg, rgba(70, 129, 137, 0.5), rgb(250,250,250), rgba(70, 129, 137, 0.5));  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sobre-mi{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#perfil{
    display: flex;
    justify-content: center;
}

#perfil-img{
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
}

#informacion-personal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.informacion{
    color: rgb(250, 250, 250);
    background-color: rgb(3, 25, 38);
    width: 40%;
    margin: 3rem 3% 3% 3%;
    border: 1px solid rgb(250, 250, 250);
}

.sub-titulo2{
    color: rgb(255, 255, 255);
    text-align: center;
}

#acerca-de-mi{
    padding: 0 10%;
    text-align: center;
}

.seccion-contacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 0 10rem 0;
}

.contacto{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-size: contain;
}

.contacto:hover{
    background-color: rgba(3, 25, 38, 0.5);
    border-radius: 1rem;
}

/*-----------------------------------------------------------------------------------------------------*/

#formacion-academica{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0 10rem 0;
}

.instituto{
    font-weight: bold;
    font-size: 10vh;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(3, 25, 38);
    border-radius: 2.5rem;
    height: 65vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    padding: 5vh 0 5vh 0;
}

.instituto:hover{
    background: rgba(3, 25, 38, 0.5);
}

.instituto, header{
    text-align: center;
}

.instituto-img{
    height: 40vh;
}

/*-----------------------------------------------------------------------------------------------------*/

#boton-inicio{
    background-color: rgba(3, 25, 38, 0.5);
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
}

#contacto-principal{
    background-color: rgb(3, 25, 38);
    color: rgb(250, 250, 250);
    font-size: 10px;
    text-align: center;
}

.enlace-contacto{
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------*/


@media (max-width:1100px){
    #menu{
        height: 12.5vh;
    }
    .opcion-enlace{
        font-size: 25px;
        padding: 2vh;
    }
    #cabecera-principal{
        height: 14vh;
    }

}

@media (max-width:950px){
    #menu{
        height: 10vh;
    }
    .opcion-enlace{
        font-size: 20px;
        padding: 1.5vh;
    }

    #titulo-principal{
        font-size: 10vh;
    }
    
    #nombre{
        font-size: 3vh;
    }
    #cabecera-principal{
        height: 12vh;
    }
}

@media (max-width:750px){
    #menu{
        height: 10vh;
    }
    .opcion-enlace{
        font-size: 15px;
        padding: 1.5vh;
    }
}

@media (max-width:550px){
    #menu{
        display: none;
    }
    #menu-oculto{
        display: flex;
        color: rgb(250, 250, 250);
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .barra-menu{
        position: sticky;
        background-color: rgb(3, 25, 38);
        width: 100%;
        height: 10vh;
        margin: 1vh;
        border-bottom: 1px solid rgb(250, 250, 250);
    }
    #btn-menu{
        display: none;
    }
    .icon-paragraph-center{
        display: block;
        display: flex;
        justify-content: center;
        width: 5vh;
        height: 3.5vh;
        background-color: rgb(3, 25, 38);
        font-size: 25px;
        margin: 3vh;
        position: absolute;
        top: 0;
    }
    .opciones-oculto{
        margin: 0;
        display: flex;
        position:sticky;
        flex-direction: column;
        width: 30vh;
        background-color: rgb(3, 25, 38);
        visibility: hidden;
    }
    #btn-menu:checked ~ .opciones-oculto{
        visibility: visible;
    }
    .opcion-oculto{
        padding: 0 1rem 0 1rem;
        border-bottom: 1px solid rgb(250, 250, 250);
    }
    .opcion-enlace-oculto{
        font-size: 15px;
        padding: 1.5vh;
        border: unset;
    }
    .opcion-enlace-oculto:hover{
        background-color: unset;
        border: unset;
    }
    .opcion-oculto:hover{
        background-color: rgba(250, 250, 250, 0.7);
    }

    #titulo-principal{
        font-size: 5vh;
    }
    
    #nombre{
        font-size: 1vh;
    }

    #perfil-img{
        height: 20vh;
    }
    .instituto{
        width: 70%;
        font-size: 25px;
        margin: 2rem;
        height: 55vh;
    }
}
/*-----------------------------------------------------------------------------------------------------*/

@media (max-width:800px){ 

    .titulo{
        font-size: 25px;
    }

    .seccion-contacto{
        margin: 1rem 1rem 1rem 1rem;
    }

    .contacto{
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width:600px){ 
    #informacion-personal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }
    .informacion{
        margin: 0 10% 0 10%;
        width: 80%;
    }
}
